div.article h2 {
    color: #ED1C24;
    font-size: 18px;
    font-weight: lighter;
    line-height: 20px;
    margin: 5px 0;
}

div.multicolumn4 {
    -moz-column-width: 450px;
    -moz-column-gap: 20px;
    -webkit-column-width: 450px;
    -webkit-column-gap: 20px;
    column-width: 450px;
    column-gap: 20px;

    height: 600px;
}

.alignLeft {
    float: left;
    margin-right: 1em;
}

.alignRight {
    float: right;
    margin-left: 1em;
}

.home-button {
    float: left;
    margin-left: 5px;
    margin-top: 8px;
    border: none;
}

.home-button img {
    width: 20px;
    float: left;
    border: none;
}

.header {
    top: 0;
    z-index: 1000;
    border-left-width: 0;
    border-right-width: 0;
    overflow: hidden;
    width: 100%;

    color: #ffffff;
    font-family: sans-serif, arial;

    background-color: #ED1C24;
    display: block;

    height: 35px;
    padding: 0px;
}

.header h1 {
    font-weight: lighter;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.edition {
    float: right;
    padding-right: 10px;
    padding-top: 15px;
}

.edition div {
    float: left;
    font-size: 14px;
    padding-left: 5px;
}

.edition-date {
    font-family: sans-serif, arial;
    font-weight: lighter;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;

    font-family: sans-serif, arial;
    font-size: 14px;
    font-weight: lighter;
}

.footer-contents {
    background-color: #000000;
    color: #ffffff;
}

.copyright {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.article-index {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    margin-top: 10px;
}

.page-index {
    z-index: 99;
    border: 1px solid #666;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-right: 15px;
}

.page-index.selected {
    background: #666;
}

.content-cover {
    float: left;
}

.content-cover img {
    border: none;
    width: 505px;
}

.table-of-contents {
    padding-left: 10px;
    float: left;
}

.table-of-contents div {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

.table-of-contents div a {
    text-decoration: none;

}

.table-of-contents div a:visited {
    text-decoration: none;
}